.bar-widget {
    @include window;
    padding: 0.4rem 1rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}