.state-icon {
    margin: 0.35rem;
    font-size: 1.3rem;
}

.bar-state {
    background-color: $surfaceVariant;
    border-radius: 1rem;
    padding: 0.5rem 0.25rem;
    margin-top: 1rem;
}

.language {
    font-size: 1.1rem;
}