.clip-label {
    padding: 0.25rem;
    font-size: 1.1rem;
}

.clear-clipboard-button {
    background-color: $tertiary;
    color: $surface;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}