$primary: #ffb1c5;
$onPrimary: #65002d;
$primaryContainer: #841d43;
$onPrimaryContainer: #ffd9e1;
$secondary: #e4bdc5;
$onSecondary: #42292f;
$secondaryContainer: #5a3f45;
$onSecondaryContainer: #ffd9e0;
$tertiary: #edbd91;
$onTertiary: #472a0a;
$tertiaryContainer: #61401e;
$onTertiaryContainer: #ffdcbb;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$background: #201a1b;
$onBackground: #ece0e1;
$surface: #201a1b;
$onSurface: #ece0e1;
$surfaceVariant: #524346;
$onSurfaceVariant: #d6c2c5;
$outline: #9e8c8f;
$shadow: #000000;
$inverseSurface: #ece0e1;
$inverseOnSurface: #352f30;
$inversePrimary: #a4365b;
