.logo {
    font-size: 1.5rem;
    background-color: $primary;
    color: $surface;
    border-radius: 2rem;
    padding: 0 0.6rem;
    transition: 0.3s;
}

.logo:hover {
    background-color: mix($primary, $onSurface, 70%);
}