.notifications-center {
    @include window;
}

.notification-box {
    background-color: $surfaceVariant;
    color: $onSurface;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}

.notification-image {
    margin-right: 1rem;
}

.notification-app {
    font-weight: normal;
    color: $onSurfaceVariant;
}

.notification-summary {
    font-weight: bold;
    font-size: 1.1rem;
}

.notification-body {
    color: $onSurfaceVariant;
    font-weight: normal;
}

.notifications-scroll {
    min-height: 15rem;
    margin-top: 1rem;
}

.notifications-clear-button {
    background-color: $surfaceVariant;
    color: $onSurface;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: 0.3s;
}

.notifications-clear-button:hover {
    background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
}

.notifications-header-text {
    font-size: 1.2rem;
}

.notify-action {
    color: $primary;
    margin-left: 2rem;
    border-radius: 1rem;
    transition: 0.3s;
}

.first-action {
    margin-left: 0rem;
}