.tray {
    margin: 0 0.5rem;
}

tooltip {
    background-color: $surfaceVariant;
    color: $onSurface;
    padding: 1rem;
    border-radius: 1rem;
}

menu {
    background-color: $surfaceVariant;
    border-radius: 1rem;
    padding: 0.75rem;
    color: $onSurface;
    font-size: 1.1rem;
}

menu>menuitem {
    padding: 0.5rem 1rem;
    transition: 0.3s;
    border-radius: 1rem;
}

menu>menuitem:hover {
    background-color: $primary;
    color: $surface;
}