.volume-osd {
   @include window;
   min-width: 25rem;
   background-color: transparent;
   padding: 0rem;
}

.volume-control-center {
    margin-top: 1rem;
}

.volume-scale trough {
    background-color: $surfaceVariant;
    border-radius: 1rem;
    min-height: 2.25rem;
}


.volume-scale trough highlight {
    background-color: $primary;
    border-radius: 1rem;
    min-height: 2.25rem;
}

.volume-icon {
    margin-left: 0.75rem;
    font-size: 1.5rem;

    &.less {
        color: $onSurface;
    };

    &.more {
        color: $surface;
    };
}

.volume-arrow {
    background-color: $surfaceVariant;
    margin-left: 0.5rem;
    font-size: 2rem;
    min-width: 2.25rem;
    border-radius: 1rem;
    transition: 0.3s;
}

.volume-arrow:hover {
    background-color: mix($surfaceVariant, $onSurfaceVariant, 70%);
}
