.weather {
    @include window;
    min-width: 20rem;
    border-radius: 2rem;
    margin-bottom: 20rem;
    margin-left: 20rem;
}

.weather-icon {
    font-size: 12rem;
}

.weather-temp {
    color: $primary;
    font-size: 8rem;
    margin-left: 5rem;
    margin-right: 4rem;
}

.weather-error {
    font-size: 1.2rem;
}