.workspaces-widget {
    background-color: $surfaceVariant;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.workspaces-button {
    border-radius: 1rem;
}

.workspaces-current {
    background-color: $primary;
    color: $surface;
}