.workspaces {
    background-color: $surfaceVariant;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
}

.workspace {
    border-radius: 1rem;
    background-color: $onPrimary;
    margin: 0.25rem 0;

    &.current {
        background-color: $primary;
        padding: 1rem 0;
    }
}