@import "../../.cache/wal/colors-waybar.css";

/*---ОБЩЕЕ--------------------------------------------------------*/
* {

    font-family: JetBrainsMono;
    font-size: 15px;
    font-weight: bold;
}

/*---БАР--------------------------------------------------------*/

window#waybar {
    background-color: @background;
    border-radius: 20px;
}


/*---TOOLTIP--------------------------------------------------------*/
tooltip {
    background-color: @background;
    border: 2px solid;
    border-color: @foreground;
}

/*-Надпись-*/
tooltip label {
    color: @foreground;
}


/*---ОСНОВНЫЕ МОДУЛИ--------------------------------------------------------*/
#custom-logo,
#window,
#workspaces,
#workspaces button,
#tray,
#language,
#custom-mako,
#custom-cava,
#pulseaudio,
#clock {
    padding: 0 7.5px;
    margin: 5px;
    background-color: transparent;
    color: @foreground;
}

#clock,
#custom-logo,
#workspaces button:hover,
#workspaces button.active,
#workspaces button.urgent {
    background-color: @foreground;
    color: @background;
    border-radius: 20px;
}

#custom-logo {
    font-size: 20px;
    margin-left: 7.5px;
}

#clock {
    margin-right: 7.5px;
}

#workspaces button {
    padding: 0 4px;
    margin: 2.5px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}