.calendar {
    font-size: 1.1rem;
    background-color: $background;
    border-radius: 1rem;
    padding: 1rem 1rem 0 1rem;
    margin-left: 1rem;
    min-width: 20rem;

    calendar {
      padding: .5rem;

      &.button {
        color: $foreground;

        &:hover {
          background-color: $color1;
          border-radius: 10px;
        }
      }

      &:selected {
        color: $foreground;
      }

      &.header {
        background-color: transparent;
        border: none;
      }

      &.highlight {
        color: $foreground;
      }

      &:indeterminate {
        color: $color2;
      }
    }
  }