.launcher-box {
    background-color: $background;
    color: #ffffff;
    border-radius: 20px;
    border: 2px solid $foreground;
    padding: 1rem;
}

.launcher-scroll {
    min-width: 400px;
    min-height: 450px;
}

.app-button {
    padding: 0.25rem;
}

.app-button:hover {
    background-color: $foreground;
    color: #000000;
    border-radius: 10px;
}

.app-label {
    margin-left: 1rem;
    font-size: 1.1rem;
}

.launcher-input-box {
    background-color: $foreground;
    color: #000000;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
    font-size: 1.2rem;
}

.launcher-input {
    min-width: 400px;
    min-height: 30px;
    margin-left: 1rem;
}

.launcher-input-icon {
    margin-left: 0.5rem;
}

.apps-category-label {
    font-size: 1.5rem;
    margin: 1rem 0rem;
}