.logo {
    font-size: 20px;
    background-color: $foreground;
    color: #000000;
    border-radius: 20px;
    margin: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.2rem 0.4rem;
}

.logo-power {
    border-radius: 20px;
    font-size: 1.5rem;
    margin: 0.45rem 0.5rem;
    padding: 0 0.5rem;
    background-color: $foreground;
    color: #000000;
}