.notifications-popup-body {
    background-color: $background;
    color: #ffffff;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 1rem;
    min-width: 35rem;
    border: 2px solid $foreground;
}