.time-menu-widget {
    background-color: #000000;
    border-radius: 20px;
    margin-top: 10px;
    border: 2px solid $foreground;
    padding: 1rem;
    color: #ffffff;
    font-size: 15px;
}

.time-menu-left {
    min-width: 20rem;
}