.tray-box {
    margin: 0.35rem;
    padding: 0 0.5rem;
}
 
tooltip {
    background-color: $background;
    padding: 1rem;
    border-radius: 20px;
    border: 2px solid $foreground;
}

menu {
    padding: 0.7rem;
    background: $background;
    color: #ffffff;
    border-radius: 10px;
}

menu>menuitem {
    padding: 0.4em 1rem;
    background: transparent;
    transition: 0.3s;
    border-radius: 10px;
}

menu>menuitem:hover {
    background-color: $foreground;
    color: #000000;
}