$primary: #a8c7ff;
$onPrimary: #002f67;
$primaryContainer: #00458d;
$onPrimaryContainer: #d6e3ff;
$secondary: #bec7dd;
$onSecondary: #283041;
$secondaryContainer: #3e4759;
$onSecondaryContainer: #dae2f8;
$tertiary: #ddbce1;
$onTertiary: #3f2844;
$tertiaryContainer: #573e5c;
$onTertiaryContainer: #fad8fd;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$background: #1a1b1f;
$onBackground: #e3e2e6;
$surface: #1a1b1f;
$onSurface: #e3e2e6;
$surfaceVariant: #44474f;
$onSurfaceVariant: #c4c6d0;
$outline: #8d9099;
$shadow: #000000;
$inverseSurface: #e3e2e6;
$inverseOnSurface: #2f3034;
$inversePrimary: #2b5da7;