$primary: #ffb772;
$onPrimary: #4c2700;
$primaryContainer: #6c3a00;
$onPrimaryContainer: #ffdcbd;
$secondary: #e2c0a4;
$onSecondary: #412c18;
$secondaryContainer: #5a422d;
$onSecondaryContainer: #ffdcc0;
$tertiary: #c2cc98;
$onTertiary: #2c340e;
$tertiaryContainer: #424a23;
$onTertiaryContainer: #dee8b2;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$background: #201a16;
$onBackground: #ebe0d9;
$surface: #201a16;
$onSurface: #ebe0d9;
$surfaceVariant: #51443a;
$onSurfaceVariant: #d5c3b6;
$outline: #9e8e81;
$shadow: #000000;
$inverseSurface: #ebe0d9;
$inverseOnSurface: #352f2a;
$inversePrimary: #8e4f00;