$primary: #005cbc;
$onPrimary: #ffffff;
$primaryContainer: #d6e3ff;
$onPrimaryContainer: #001b3f;
$secondary: #565f71;
$onSecondary: #ffffff;
$secondaryContainer: #dae2f8;
$onSecondaryContainer: #131c2b;
$tertiary: #705575;
$onTertiary: #ffffff;
$tertiaryContainer: #fad8fd;
$onTertiaryContainer: #28132e;
$error: #ba1b1b;
$onError: #ffffff;
$errorContainer: #ffdad4;
$onErrorContainer: #410001;
$background: #fdfbff;
$onBackground: #1a1b1f;
$surface: #fdfbff;
$onSurface: #1a1b1f;
$surfaceVariant: #e0e2ec;
$onSurfaceVariant: #44474f;
$outline: #74777f;
$shadow: #000000;
$inverseSurface: #2f3034;
$inverseOnSurface: #f2f0f4;
$inversePrimary: #a8c7ff;