@import url("../eww/scripts/colors/colors.css");

* {
    all: unset;
    font-family: JetBrainsMono;
    font-weight: bold;
}

#window-box {
    background-color: @surface;
    border-radius: 1rem;
    padding: 1rem;
    color: @onSurface;
    box-shadow: 0 0 4px 2px @shadow;
    margin: 1rem;
}

#clock-label {
    font-size: 5rem;
    color: @primary;
}

#input-field {
    background-color: @surfaceVariant;
    border-radius: 2rem;
    font-size: 1.3rem;
    padding: 0.4rem 1.4rem;
    min-height: 2.7rem;
}

#input-label {
    color: transparent;
    background-color: transparent;
    margin: -20rem;
}

#unlock-button {
    margin: -20rem;
    color: transparent;
    background-color: transparent;
}

#error-label {
    color: @error;
}