$primary_paletteKeyColor: {{ primary_paletteKeyColor }};
$secondary_paletteKeyColor: {{ secondary_paletteKeyColor }};
$tertiary_paletteKeyColor: {{ tertiary_paletteKeyColor }};
$neutral_paletteKeyColor: {{ neutral_paletteKeyColor }};
$neutral_variant_paletteKeyColor: {{ neutral_variant_paletteKeyColor }};
$background: {{ background }};
$onBackground: {{ onBackground }};
$surface: {{ surface }};
$surfaceDim: {{ surfaceDim }};
$surfaceBright: {{ surfaceBright }};
$surfaceContainerLowest: {{ surfaceContainerLowest }};
$surfaceContainerLow: {{ surfaceContainerLow }};
$surfaceContainer: {{ surfaceContainer }};
$surfaceContainerHigh: {{ surfaceContainerHigh }};
$surfaceContainerHighest: {{ surfaceContainerHighest }};
$onSurface: {{ onSurface }};
$surfaceVariant: {{ surfaceVariant }};
$onSurfaceVariant: {{ onSurfaceVariant }};
$inverseSurface: {{ inverseSurface }};
$inverseOnSurface: {{ inverseOnSurface }};
$outline: {{ outline }};
$outlineVariant: {{ outlineVariant }};
$shadow: {{ shadow }};
$scrim: {{ scrim }};
$surfaceTint: {{ surfaceTint }};
$primary: {{ primary }};
$onPrimary: {{ onPrimary }};
$primaryContainer: {{ primaryContainer }};
$onPrimaryContainer: {{ onPrimaryContainer }};
$inversePrimary: {{ inversePrimary }};
$secondary: {{ secondary }};
$onSecondary: {{ onSecondary }};
$secondaryContainer: {{ secondaryContainer }};
$onSecondaryContainer: {{ onSecondaryContainer }};
$tertiary: {{ tertiary }};
$onTertiary: {{ onTertiary }};
$tertiaryContainer: {{ tertiaryContainer }};
$onTertiaryContainer: {{ onTertiaryContainer }};
$error: {{ error }};
$onError: {{ onError }};
$errorContainer: {{ errorContainer }};
$onErrorContainer: {{ onErrorContainer }};
$primaryFixed: {{ primaryFixed }};
$primaryFixedDim: {{ primaryFixedDim }};
$onPrimaryFixed: {{ onPrimaryFixed }};
$onPrimaryFixedVariant: {{ onPrimaryFixedVariant }};
$secondaryFixed: {{ secondaryFixed }};
$secondaryFixedDim: {{ secondaryFixedDim }};
$onSecondaryFixed: {{ onSecondaryFixed }};
$onSecondaryFixedVariant: {{ onSecondaryFixedVariant }};
$tertiaryFixed: {{ tertiaryFixed }};
$tertiaryFixedDim: {{ tertiaryFixedDim }};
$onTertiaryFixed: {{ onTertiaryFixed }};
$onTertiaryFixedVariant: {{ onTertiaryFixedVariant }};
$darkmode: {{ dark_mode }};