.bar-widget {
    padding: 0.35rem 1rem;
    margin: 0;
    border-radius: 4rem;
    transition: 0.3s;
    background-color: rgba($surface, 0);
}
.button {
    width: 100px; /* Correct with 'px' unit */
    height: 50px; /* Correct with 'px' unit */
}
.content-box {
    height: 300px; /* Define the height */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal overflow if not needed */
}

.clock {
    @include hover($surface);
    color: $onSurface;
    background-color: $surface;
    border-radius: 1rem;
    padding: 0.17rem 1rem;
    margin: -0.5 0.1rem;
    margin-left: 0.4rem;

    transition: 0.3s;

    &.active {
        background-color: $primary;
        color: $surface;

        .record-indicator {
            color: $surface;
        }

        @include hover($primary);
    }
}

.kb-layout {
    color: $onSurface;
    background-color: $surface;
    border-radius: 1rem;
    padding: 0 0.75rem;
    margin: 0 0.25rem;
    transition: 0.3s;
    font-size: 0rem;
}

.kb-layout:hover {
    background-color: rgba(white, 0.2);
}

.pinned-app {
    margin: 0 0.25rem;
    transition: 0.3s;
    padding: 0 0.1rem;
    border-radius: 0.25rem;
}

.pinned-app:hover {
    background-color: rgba(white, 0.2);
    padding: 1.5px;
    border-radius: 100%;
}

.tray {
    font-size: 1rem;
    padding: 0 0.25rem;
    margin: 0 0.25rem;
}

.workspaces {
    border-radius: 2rem;
    padding: 0.1rem 0.6rem;
    background-color: $surface;
    margin: 0rem 1rem;
    margin-left: 0;
}

.workspace {
    @include hover($primaryContainer);
    border-radius: 1rem;
    margin: 0.1rem 0.25rem;
    min-width: 1rem;
    min-height: 1rem;
    transition: 0.3s;

    &.active {
        @include hover($primary);
        min-width: 3rem;
        transition: 0.3s;
    }
}

@keyframes recorder-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.record-indicator {
    color: $error;
}

.record-indicator.active {
    animation: recorder-animation 2s infinite;
}

.battery-item {
    margin: 0 0.25rem;
}

.battery-scale {
    min-width: 6rem;
    all: unset;
    margin-left: 0.65rem;

    * {
        all: unset;
    }
}

.battery-scale trough,
.battery-scale trough highlight {
    background-color: $surfaceContainerHighest;
    border-radius: 1rem;
    min-height: 1.4rem;
    min-width: 6rem;
    padding: 0.2rem 0.2rem;
    margin: -0.9 0.1rem;
}

.battery-scale trough highlight {
    background-color: $primary;
    min-width: 0rem;
}

.battery-icon {
    color: $onSurface;
    margin-right: 0.3rem;
}

.battery-percent {
    color: $onSurface;
    margin-top: 0.1rem;
    margin-right: -0.1rem;
}
