$primary: {{ primary }};
$onPrimary: {{ onPrimary }};
$primaryContainer: {{ primaryContainer }};
$onPrimaryContainer: {{ onPrimaryContainer }};
$secondary: {{ secondary }};
$onSecondary: {{ onSecondary }};
$secondaryContainer: {{ secondaryContainer }};
$onSecondaryContainer: {{ onSecondaryContainer }};
$tertiary: {{ tertiary }};
$onTertiary: {{ onTertiary }};
$tertiaryContainer: {{ tertiaryContainer }};
$onTertiaryContainer: {{ onTertiaryContainer }};
$error: {{ error }};
$onError: {{ onError }};
$errorContainer: {{ errorContainer }};
$onErrorContainer: {{ onErrorContainer }};
$background: {{ background }};
$onBackground: {{ onBackground }};
$surface: {{ surface }};
$onSurface: {{ onSurface }};
$surfaceVariant: {{ surfaceVariant }};
$onSurfaceVariant: {{ onSurfaceVariant }};
$outline: {{ outline }};
$shadow: {{ shadow }};
$inverseSurface: {{ inverseSurface }};
$inverseOnSurface: {{ inverseOnSurface }};
$inversePrimary: {{ inversePrimary }};