.launcher {
    @include window;
    margin-top: 20rem;
}

.launcher-search {
    all: unset;
}

.launcher-search-box {
    padding: 0.75rem 1rem;
    background-color: $surfaceContainer;
    border-radius: 1rem;
    min-width: 30rem;
}

.launcher-scroll {
    min-height: 30rem;
}

.launcher-app {
    all: unset;
    @include hover($surface);
    border-radius: 1rem;
    padding: 0.5rem 0.25rem;
    border: 2px solid $surface;
    margin-top: 0.25rem;
    transition: 0.3s;
    
    &:focus {
        border: 2px solid $primary;
    }
}

.launcher-app-label {
    font-size: 1.1rem;
    margin-left: 1rem;
}