* {
    all: unset;
    font-family: JetBrainsMono;
    font-weight: bold;
}
@import "../../.cache/wal/colors.scss";

@import "scss/bar.scss";
@import "scss/powermenu.scss";
@import "scss/notifications_popup.scss";
@import "scss/launcher.scss";
@import "scss/clipboard.scss";

@import "scss/settings_menu.scss";
@import "scss/notifications_menu.scss";
@import "scss/time_menu.scss";

@import "scss/calendar.scss";
@import "scss/clock.scss";
@import "scss/kb_layout.scss";
@import "scss/logo.scss";
@import "scss/quick_settings.scss";
@import "scss/user.scss";
@import "scss/volume.scss";
@import "scss/workspaces.scss";
@import "scss/tray.scss";
@import "scss/weather.scss";
@import "scss/music.scss";
@import "scss/bar_state.scss";
@import "scss/notifications.scss";
