.control-center {
    @include window;

    separator {
        background-color: $outline;
        min-height: 0.1rem;
        margin: 0.2rem 0;
    }
}

.media {
    @include window;
}


.media-scale trough,
.media-scale trough highlight {
    background-color: $secondaryContainer;
    border-radius: 1rem;
    min-height: 0.5rem;
}


.media-scale trough highlight {
    background-color: $primary;
}

.media-artist {
    color: $onSurfaceVariant;
}

.media-button {
    margin: 0 0.5rem;
}

.wifi-entry {
    @include hover($surfaceContainerHigh);
    font-size: 1rem;
    transition: 0.3s;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

.wifi-network-list {
    background-color: $surfaceContainerHigh;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}

.qs-button {
    @include hover($surfaceContainerHighest);
    color: $onSurface;
    min-width: 5rem;
    min-height: 2.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    transition: 0.3s;
    margin: 0 0.25rem;

    &.active {
        @include hover($primary);
        color: $surface;
    }

}

.record-menu {
    background-color: $surfaceContainerHigh;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}

.record-icon {
    color: $error;
}

.record-dropdown {
    button {
        all: unset;
        color: $onSurfaceVariant;
        font-size: 0.9rem;
    }
}

.record-cancel-button,
.record-start-button {
    color: $surface;
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    font-size: 0.9rem;
    transition: 0.3s;
}

.record-cancel-button {
    @include hover($surfaceContainerHigh);
    color: $onSurface;
    border: 1px solid $primary;
}

.record-start-button {
    @include hover($primary);
}

.volume-slider trough,
.volume-slider trough highlight {
    background-color: $secondaryContainer;
    border-radius: 1rem;
    min-height: 1rem;
}


.volume-slider trough highlight {
    background-color: $primary;
}

.volume-entry-list {
    margin-top: 1rem;
    background-color: $surfaceContainerHigh;
    border-radius: 1rem;
    padding: 1rem;
}

.volume-entry {
    @include hover($surfaceContainerHigh);
    font-size: 1rem;
    transition: 0.3s;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    padding-left: 0.25rem;
}

.volume-entry-list-header {
    font-size: 1.25rem;
    margin-left: 0.45rem;
}

.volume-icon {
    @include hover($surface);
    padding: 0.25rem;
    border-radius: 1rem;
    transition: 0.3s;
    margin-right: 0.5rem;
}

.volume-arrow {
    @include hover($surface);
    padding: 0.25rem;
    border-radius: 1rem;
    transition: 0.3s;
    margin-left: 0.5rem;
}

.user {
    margin-top: 1rem;
}

.user-name-box {
    margin-left: 0.5rem;
}

.user-name {
    font-size: 1.2rem;
}

.user-name-secondary {
    color: $onSurfaceVariant;
    font-size: 0.9rem;
}

.user-settings {
    @include hover($surfaceContainerHighest);
    color: $onSurface;
    border-radius: 2rem;
    min-width: 2.35rem;
    margin: 0.4rem 0rem;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.user-power {
    @include hover($primary);
    color: $surface;
    border-radius: 1.5rem;
    min-width: 2.35rem;
    margin: 0.4rem 0rem;
    transition: 0.3s;
}
